global
    maxconn 4096
    nbthread 2

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend api_frontend
    bind *:9999
    default_backend api_backend

backend api_backend
    balance roundrobin
    option httpchk GET /ready
    option redispatch
    server api01 api01:9999 check inter 3s rise 2 fall 3
    server api02 api02:9999 check inter 3s rise 2 fall 3
